.admin-container{
    display: grid; 
    grid-template-columns: 60% 40%;
}
.admin-container .products{
    border: 1px solid black; 
    color: white; 
    background-color: #4D2319;
    box-shadow: 0px 0px 15px 0px #ffffff88;  
    margin-left: 5%;    
    margin-right: 5%; 
}
.admin-container .coupon{
    border: 1px solid black; 
    color: white; 
    background-color: #4D2319;
    box-shadow: 0px 0px 15px 0px #ffffff88; 
    margin-right: 5%; 
}
.admin-container .form label {
    display: inline-block;
    width: 100px;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
}

.admin-container .form input {
    display: inline-block;
    width: auto;
    max-height: 25px;
    border-radius: 0;
    border: 2px solid black; 
}