.navbar{
    background-color: #151712;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #151712;
  }
  
  li {
    float: left;
    margin-left: 20px; 
    padding: 5px; 
    color: white; 
  }
  
 a{
   text-decoration: none;
   color: white; 
   letter-spacing: 2px;
   text-transform: uppercase;
   padding: 5px; 
 } 
 a:hover{
  box-shadow: 0px 0px 15px 0px #FFFFFF;
  color: white; 
 }