.navbar{
    background-color: #151712;
    max-height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #151712;
    font-size: 13px;
  }
  
  li {
    float: left;
    margin-left: 10px; 
    padding: 5px; 
    color: white; 
  }
  
 a{
   text-decoration: none;
   color: white; 
   letter-spacing: 2px;
   text-transform: uppercase;
   padding: 5px; 
 } 
 a:hover{
  box-shadow: 0px 0px 15px 0px #FFFFFF;
  color: white; 
 }
 .badge{
  background-color: #4D2319;
 }